*{
	font-family: 'Dosis', sans-serif;

}
body{
	background-image: url("../bg4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	background-color: grey;
	color:white;
	text-align: center;
}
.completed {
	color: gray;
	text-decoration: line-through;
}

#container{
	background-image: url("../bg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: grey;
	opacity: 0.8;
	height: 50%;
	width: 50%;
	margin: 10px auto;

}
#newTask1 {
	text-align: center;
}
ul{
	list-style-type: none;
}
